body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.name{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding-top: 4%;
}
section{
    height: 500px;
    margin-bottom: 30px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, orangered);
    padding: 6px 12px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
.mid-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.mid-banner img{
    width: 90%;
}
.exp{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height: 40%;
    background-color: white;
}
.bottom-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, lightSalmon, orangered);
    border-image-slice: 1;
}
#baby{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
p{
    text-align: center;
    font-size: 12;
}